.input-elements{
    display: block;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid;
    padding: 10px;
}

button{
    border-radius : 10px;
    background-color:#7E587E;
    color: #efefef;
    border: none;
    text-align: center;
    padding: 10px 20px;
    border:white 1px solid;
    margin: 10px;
}

body{
    background-color: beige;
}